:8000 {
  @allowed_origin header_regexp origin Origin ^https://akilli-orman-gozlemcisi-software\.vercel\.app$
  header @allowed_origin {
    Access-Control-Allow-Origin "{http.request.header.Origin}"
    Access-Control-Allow-Headers "authorization,content-type,prefer,range,x-client-info,apikey"
    Access-Control-Allow-Methods "GET, POST, PATCH, DELETE, OPTIONS"
    Access-Control-Allow-Private-Network true
    Vary "Origin"
  }
  @options {
    method OPTIONS
  }
  handle @options {
    respond 204
  }
  handle_path /rest/v1* {
    reverse_proxy rest:3000
  }
}
